<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      .btn {
        display: inline-block;
        background-color: #00ceff;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
      }
      .btn:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>Dear <strong><%= @full_name %></strong>,</p>
      <p>We received a request to reset your password. Here is your One-Time Password (OTP): <strong><%= @otp %></strong></p>
      <p>If you didn't request this, you can safely ignore this email.</p>
      <p>If you have any questions or need assistance, feel free to contact us.</p>
      <p>Thank you,</p>
      <p>The Application Team</p>
    </div>
  </body>
</html>
